<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ListenTo.Data.SQLRepository.Properties.Settings.ListenToConnectionString"
            connectionString="Data Source=RICHARD22;Initial Catalog=ListenTo;Integrated Security=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>